.Weather {
	color: rgb(255, 255, 255);
	display: block;
	font-family: "Roboto", sans-serif;
	max-width: 700px;
	line-height: 24px;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 10px;
	text-shadow: rgba(23, 36, 50, 0.5) 0px 0px 5px;
	text-size-adjust: 100%;
}

.Weather canvas {
	width: 100px;
}
.Weather h1 {
	line-height: 30px;
	font-weight: 500;
	font-size: 30px;
}

.Weather h4 {
	line-height: 30px;
}
.Weather .header {
	background-color: rgba(0, 0, 0, 0.55);

	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.Weather .sub-header {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 600;
}

.Weather .weather-info {
	border-radius: 6px;
	background-color: RGB(217, 217, 214, 0.3);
	padding: 0px 12px 10px 12px;
}
.Weather h3 {
	font-size: 30px;
}

.Weather p {
	font-size: 20px;
	line-height: 1.5;
}
.Weather .date {
	font-size: 16px;
}

.Weather .current-temp {
	font-size: 96px;
	display: inline;
}

.Weather .temp-unit {
	font-size: 20px;
}

.Weather .description {
	font-size: 36px;
	margin-left: 20px;
}
