.WeeklyForecast .col {
	text-align: center;
}

.WeeklyForecast {
	background-color: RGB(217, 217, 214, 0.3);
	padding-top: 15px;
	padding-bottom: 5px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.WeeklyForecast canvas {
	width: 65px;
}
